$primary-colour: rgb(225, 225, 225);
$secondary-colour: rgb(25, 25, 25);
$complimentary-colour: rgb(200, 200, 0);
$separator-colour: rgb(150, 150, 150);

%abstract-font-stack {
    font-family: roboto-condensed, sans-serif; 
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

%heading-font-stack {
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

%paragraph-font-stack {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

%space-around-and-center {
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

%flex-and-center {
    display: flex;
    justify-content: center;
}
