@use '_base.scss' as *;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    text-align: justify;

    .anchor::before {
        display: block;
        content: " ";
        height: 50px;
        margin-top: -50px;
        visibility: hidden;
    }

    h1 { @include heading-font-stack; }
    h2, h3 { @include paragraph-font-stack; }
    h4 { @include logo-font-stack; }

    a {
        text-decoration: none;
        color: $secondary-colour;
        :hover { cursor: pointer; }
    }

    hr.separator {
        border-top: 1px solid $separator-colour;
        margin: 0vh 35vw 0vh 35vw;
        
    }

    button {
        background-color: $secondary-colour;
        color: $primary-colour;
        padding: 10px;
    }

    li {
        list-style: none;
    }

    label, input, textarea, button, p {
        @include paragraph-font-stack;
        width: 100%;
        font-size: 1em;
    }
}

nav {
    @include space-around-and-center;
    position: sticky;
    display: flex;
    padding: 2.5vh 5vh 2.5vh 5vh;
    top: 0;
    z-index: 2;
    min-height: 50px;
    background-color: $primary-colour;

    .logo { 
        font-size: 1.5em;
        text-align: start;

        p {
            @include paragraph-font-stack;
            font-size: 0.5em;
            color: #999;
        }
    }

    .nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        transform: translate(100%);
        z-index: 1;
        width: 100%;
        right: 0px;
        top: 100%;
        background-color: $primary-colour;
        border-top: 1px solid $separator-colour;
        border-bottom: 1px solid $separator-colour;
    }

    .nav-active { transform: translateX(0%); }

    li {
        @include heading-font-stack;
        list-style: none;
        font-size: 2.5em;
        opacity: 0;
    }
    
}

i.fab, i.fa-bars {
    color: $secondary-colour;
    font-size: 1.5em;
    cursor: pointer;
}

#main-page {
    padding: 5vh 5vw 5vh 5vw;

    h1 {
        text-align: center;
        font-size: 1.5em;
        padding-bottom: 2.5vh;
    }

    .project:nth-child(odd) { padding: 5vh 0vw 5vh 0vw; }
    .paragraph-link { text-decoration: underline; }
    
    img {
        opacity: 1;
        display: block;
        width: 100%;
        transition: .5s ease;
        backface-visibility: hidden;
        object-fit: contain;
    }

    .caption {
        text-align: center;
        padding-top: 1vh;
    }
    
}

footer {
    @include paragraph-font-stack;
    @include space-around-and-center;
    padding: 2.5vh 0vw 2.5vh 0vw;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    color: $secondary-colour;
    vertical-align: top;
}

@keyframes navMenuFade {
    from {
        transform: translate(100%);
    }
    to {
        transform: translate(0%);
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (min-width: 768px) {

    nav {
        .logo { font-size: 1.75em; }

        .nav-links {
            position: relative;
            flex-direction: row;
            justify-content: space-around;
            transform: translate(0%);
            width: 60%;
            border: none;

            li {
                opacity: 1;
                font-size: 1.25em;
            }
        }

        i.fa-bars { display: none; }
    }

    #main-page {
        .image-container { width: 35%; }

    }

}

@media screen and (min-width: 1200px) {

    html {
        .anchor::before {
            display: block;
            content: " ";
            height: 75px;
            margin-top: -75px;
            visibility: hidden;
        }
    }

    nav {
        min-height: 75px;
        
        .logo { font-size: 2.0em; }
        .nav-links { li { font-size: 1.5em; } }
    }

    #main-page {
        .image-container:hover .image { opacity: 0.3; }
        .image-container:hover { opacity: 1; }
    }

}
