.feature .feature-text {
  font-family: roboto-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
}

html h1, html h4, body h1, body h4, nav li {
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
}

html h3, body h3, html label, html input, html textarea, html button, html p, body label, body input, body textarea, body button, body p, .list-items, footer {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav, footer {
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.section-wrapper, .links-section .links {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  text-align: justify;
}
html a, body a {
  text-decoration: none;
  color: #e1e1e1;
}
html a :hover, body a :hover {
  cursor: pointer;
}
html li, body li {
  list-style: none;
}
html section, body section {
  width: 100%;
}
html label, html input, html textarea, html button, html p, body label, body input, body textarea, body button, body p {
  width: 100%;
  font-size: 1em;
}

nav {
  position: sticky;
  display: flex;
  top: 0;
  z-index: 1;
  min-height: 10%;
  background-color: #191919;
  border-bottom: 1px solid #969696;
}
nav .logo {
  color: #e1e1e1;
}
nav .nav-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translate(100%);
  z-index: 1;
  width: 100%;
  right: 0px;
  top: 100%;
  background-color: #191919;
  border-top: 1px solid #969696;
  border-bottom: 1px solid #969696;
}
nav .nav-active {
  transform: translateX(0%);
}
nav li {
  list-style: none;
  font-size: 2.5em;
  opacity: 0;
}

i.fas, i.fab {
  color: #e1e1e1;
  font-size: 1.5em;
  cursor: pointer;
}

.anchor {
  padding-top: 75px;
  margin-top: -75px;
}

.feature {
  width: 100%;
  height: 50%;
  position: relative;
}
.feature .feature-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  white-space: nowrap;
  color: #c8c800;
}
.feature img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-wrapper {
  padding: 2.5vh 5vh 2.5vh 5vh;
}
.section-wrapper img {
  border: 1px solid white;
  opacity: 1;
  display: block;
  width: 50%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  object-fit: scale-down;
}

.section-wrapper:nth-child(odd) {
  background-color: #e1e1e1;
  color: #191919;
}

.section-wrapper:nth-child(even) {
  background-color: #191919;
  color: #e1e1e1;
}

.article-headers {
  margin-bottom: 2.5vh;
  text-align: center;
  font-size: 2.5em;
}

.project-status {
  border-bottom: 1px solid #969696;
}

.project-name {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.project-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.project-wrapper .image-wrapper {
  width: 250px;
  height: 250px;
  margin-bottom: 2.5vh;
}
.project-wrapper .border {
  border: 2.5px solid #e1e1e1;
  padding: 1%;
}
.project-wrapper img {
  opacity: 0.75;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.project-wrapper img:hover {
  opacity: 1;
}
.project-wrapper a {
  text-decoration: underline;
}

.skills-article, .education-section, .work-section {
  width: auto;
  text-align: center;
}

.links-section .links {
  font-size: 2em;
  flex-wrap: wrap;
}
.links-section .links a {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

footer {
  min-height: 5%;
  font-size: 0.75em;
  display: flex;
  background-color: #191919;
  color: #e1e1e1;
  vertical-align: top;
}

@keyframes navMenuFade {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0%);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media screen and (min-width: 768px) {
  nav .logo {
    font-size: 1.25em;
  }
  nav .nav-links {
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    transform: translate(0%);
    width: 60%;
    background-color: #191919;
    border: none;
  }
  nav .nav-links li {
    opacity: 1;
    font-size: 1.25em;
  }
  nav i.fa-bars {
    display: none;
  }

  .anchor {
    padding-top: 75px;
    margin-top: -75px;
  }

  .section-wrapper {
    padding: 1.5% 15% 2.5% 15%;
  }

  .project-wrapper {
    flex-direction: row;
    align-items: stretch;
  }
  .project-wrapper .image-wrapper {
    min-width: 50%;
    margin-right: 2.5vh;
  }

  .education-section, .work-section {
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  nav .logo {
    font-size: 1.5em;
  }
  nav .nav-links li {
    font-size: 1.5em;
  }

  .anchor {
    padding-top: 100px;
    margin-top: -100px;
  }

  .section-wrapper {
    padding: 1.5% 25% 2.5% 25%;
  }
}

/*# sourceMappingURL=style.css.map */
