<section id="about">
  <div id="intro">
    <div id="intro-text">
      <h1>Zac Vukovic</h1>
      <p>Technical Creative ( Software Engineer &bull; Game Developer &bull; Musician )</p>
    </div>
    <div id="portrait-container">
      <picture>
        <source type="image/webp" srcset="/img/content/about/PXL_20220827_002103848.MP-240.webp">
        <source type="image/jpeg" srcset="/img/content/about/PXL_20220827_002103848.MP-240.jpg">
        <img src="/img/content/about/PXL_20220827_002103848.MP-240.jpg" alt="Me">
      </picture>
    </div>
  </div>
  <div class="sub-section">
    <h2 class="about-heading">> Dev</h2>
    <p>
      Hi! I'm Zac. I'm a hybrid software engineer who builds systems that solve real‑world problems. My experience spans
      education, mining engineering software, developer tooling, and the kind of core technical work involved in taking
      products from inception through to release.
    </p>

    <p>
      My background sits at the intersection of 3D & XR development, spatial reasoning, modern UI design, full‑stack
      engineering, infrastructure provisioning, and performance‑oriented programming. This mix enables me to
      build fast, robust, and reliable systems.
    </p>

    <p>
      Check out my portfolio below or have a look <a href="/now" class="data-link">here</a> to
      see what I’m working on now.
    </p>
    <a href="/portfolio" class="button data-link">
      <div>
        PORTFOLIO
      </div>
      <img src="/img/svg/chevron-right-solid.svg" alt="">
    </a>
  </div>
  <div class="sub-section">
    <h2 class="about-heading">> Life</h2>
    <p>
      I <span style="color: red;">&#10084;</span> game dev, guitar, and fitness.
    </p>
  </div>
  <div class="sub-section">
    <h2 class="about-heading">> Web</h2>
    <a class="icons" href="https://github.com/cyn1x/" target="_blank" rel="noopener noreferrer">
      <img src="/img/svg/github.svg" alt="">
      <span class="social-handles">@cyn1x</span>
    </a>
    <a class="icons" href="https://au.linkedin.com/in/zacvukovic/" target="_blank" rel="noopener noreferrer">
      <img src="/img/svg/linkedin.svg" alt="">
      <span class="social-handles">@zacvukovic</span>
    </a>
    <a class="icons" href="https://www.youtube.com/@cyn1x/" target="_blank" rel="noopener noreferrer">
      <img src="/img/svg/youtube-brands-solid.svg" alt="">
      <span class="social-handles">@zacvukovic</span>
    </a>
    <a class="icons" href="https://www.instagram.com/almightyzacpac/" target="_blank" rel="noopener noreferrer">
      <img src="/img/svg/instagram.svg" alt="">
      <span class="social-handles">@almightyzacpac</span>
    </a>
    <a class="icons" href="https://www.soundcloud.com/crimsonpyre/" target="_blank" rel="noopener noreferrer">
      <img src="/img/svg/soundcloud.svg" alt="">
      <span class="social-handles">@crimsonpyre</span>
    </a>
    <a class="icons" href="https://backloggery.com/Cyn1x" target="_blank" rel="noopener noreferrer">
      <img src="/img/svg/game-pad-modern-1.svg" alt="">
      <span class="social-handles">@Cyn1x</span>
    </a>
  </div>
</section>
