<nav>
  <ul class="nav-links">
    <li>
      <a href="/portfolio" class="data-link" onclick="route(event)">
        <h1>PORTFOLIO</h1>
      </a>
    </li>
    <li>
      <a href="/about" class="data-link" onclick="route(event)">
        <h1>ABOUT</h1>
      </a>
    </li>
    <li>
      <a href="/contact" class="data-link" onclick="route(event)">
        <h1>CONTACT</h1>
      </a>
    </li>
    <li>
      <a href="/blog" class="data-link" onclick="route(event)">
        <h1>BLOG</h1>
      </a>
    </li>
  </ul>
  <i class="fas fa-bars"></i>
</nav>