<nav>
  <ul class="nav-links">
    <li>
      <a href="/portfolio" class="data-link" onclick="route(event)">
        <h1>Portfolio</h1>
      </a>
    </li>
    <li>
      <a href="/about" class="data-link" onclick="route(event)">
        <h1>About</h1>
      </a>
    </li>
    <li>
      <a href="/now" class="data-link" onclick="route(event)">
        <h1>Now</h1>
      </a>
    </li>
    <li>
      <a href="/blog" class="data-link" onclick="route(event)">
        <h1>Blog</h1>
      </a>
    </li>
    <li>
      <a href="/contact" class="data-link" onclick="route(event)">
        <h1>Contact</h1>
      </a>
    </li>
  </ul>
  <div id="menu" class="icons">
    <!-- Hack to apply a CSS filter to SVGs without affecting border styling -->
    <div id="dark-theme-container" class="svg-container theme-icon-container hidden">
      <img src="/img/svg/bulb-4.svg" id="dark-theme-icon" class="menu-icons" alt="Theme toggle icon">
    </div>
    <div id="light-theme-container" class="svg-container theme-icon-container">
      <img src="/img/svg/bulb-1.svg" id="light-theme-icon" class="menu-icons" alt="Theme toggle icon">
    </div>
    <div id="menu-controls">
      <div class="svg-container menu-icon-container">
        <img src="/img/svg/menu-hamburger-1.svg" id="open-icon" class="menu-icons" alt="Menu closed icon">
      </div>
      <div class="svg-container menu-icon-container hidden">
        <img src="/img/svg/xmark.svg" id="close-icon" class="menu-icons hidden" alt="Menu open icon">
      </div>
    </div>
  </div>
</nav>
