<nav>
  <ul class="nav-links">
    <li>
      <a href="/portfolio" class="data-link" onclick="route(event)">
        <h1>PORTFOLIO</h1>
      </a>
    </li>
    <li>
      <a href="/about" class="data-link" onclick="route(event)">
        <h1>ABOUT</h1>
      </a>
    </li>
    <li>
      <a href="/contact" class="data-link" onclick="route(event)">
        <h1>CONTACT</h1>
      </a>
    </li>
    <li>
      <a href="/blog" class="data-link" onclick="route(event)">
        <h1>BLOG</h1>
      </a>
    </li>
  </ul>
  <div id="menu" class="icons">
    <img src="/img/svg/bars-solid.svg" id="open-icon" class="menu-icon" alt="Menu closed icon">
    <img src="/img/svg/xmark-solid.svg" id="close-icon" class="menu-icon hidden" alt="Menu open icon">
  </div>
</nav>