$primary-colour: rgb(255, 255, 255);
$secondary-colour: rgb(25, 25, 25);
$tertiary-colour: #595959;
$quaternary-color: rgb(225, 0, 0);

$separator-colour: rgb(225, 225, 225);
$border-colour: rgb(200, 200, 200);

@font-face {
    font-family: 'bebas-neue-by-dhamra-type';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/BebasNeue-Regular.woff2') format('woff2'),
    url('/assets/BebasNeue-Regular.woff') format('woff'),
    url('/assets/BebasNeue-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('/ttf/Montserrat-Regular.ttf') format('truetype');
    font-display: swap;
}

@mixin space-around-and-center {
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@mixin flex-and-center {
    display: flex;
    justify-content: center;
}
