$primary-colour: rgb(255, 255, 255);
$secondary-colour: rgb(25, 25, 25);
$tertiary-colour: #595959;
$quaternary-color: rgb(225, 0, 0);

$separator-colour: rgb(225, 225, 225);
$border-colour: rgb(200, 200, 200);

@mixin logo-font-stack {
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-style: normal;
    font-weight: 700;
}

@mixin heading-font-stack {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin paragraph-font-stack {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin space-around-and-center {
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@mixin flex-and-center {
    display: flex;
    justify-content: center;
}
